{% load static %}
<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a href="index.html" class="b-brand">
        <div class="b-bg">
          <i class="feather icon-trending-up"></i>
        </div>
        <span class="b-title">Datta Able</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
      <!-- <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item pcoded-hasmenu active pcoded-trigger"> -->
        <!-- <a href="#!" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a> -->
        <!-- <ul class="pcoded-submenu"> -->
        <!-- <li class="active"><a href="index.html" class="">Default</a></li> -->
        <!-- <li class=""><a href="dashboard-ecommerce.html" class="">Ecommerce</a></li> -->
        <!-- <li class=""><a href="dashboard-crm.html" class="">CRM</a></li> -->
        <!-- <li class=""><a href="dashboard-analytics.html" class="">Analytics</a></li> -->
        <!-- <li class=""><a href="dashboard-crypto.html" class="">Crypto<span class="pcoded-badge label label-danger">NEW</span></a></li> -->
        <!-- <li class=""><a href="dashboard-project.html" class="">Project</a></li> -->
        <!-- </ul> -->
        <!-- </li> -->
</ul>
    </div>
  </div>
</nav>