<div class="md-modal md-effect-19" id="modal-19">
    <div class="md-content">
        <h3 class="theme-bg2">Add New Category</h3>
        <div>

            <form id="validation-form123" action="#!">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control"
                                   name="name" placeholder="Category name">
                        </div>
                    </div>
                    <div class="col-md-6">
                            <label class="form-label">Department</label>
                            <select class="form-control" name="department"">
                            <option value>Select department...</option>
                            <optgroup label="Climbing">
                            <option value="pitons">Pitons</option>
                            <option value="cams">Cams</option>
                            <option value="nuts">Nuts</option>
                            <option value="bolts">Bolts</option>
                            <option value="stoppers">Stoppers</option>
                            <option value="sling">Sling</option>
                            </optgroup>
                            <optgroup label="Skiing">
                            <option value="skis">Skis</option>
                            <option value="skins">Skins</option>
                            <option value="poles">Poles</option>
                            </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-primary md-close">Close me!</button>
        </div>
    </div>
</div>
