{% extends "base/base.html" %}
{% load static %}

{% block css %}
    <style>
        .main-body {
            display: block;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="main-body">
        <div class="page-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Category</h5>
                            <div style="float:right">
                                <button type="button" id="add_category"
                                        class="btn btn-icon btn-rounded btn-outline-success md-trigger"
                                        data-toggle="tooltip"
                                        data-placement="top"
                                        data-modal="modal-19"
                                        title="Add New category"><i
                                        class="feather icon-plus"></i></button>
                            </div>
                        </div>
                        <div id="jstree_div"></div>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    {% include "inventory/category_modals.html" %}
{% endblock %}

{% block js %}
    <script src="{% static 'inventory/js/category.js' %}"></script>
{% endblock %}
